In [12]:
import os
import glob
import pandas as pd

# Read the two csv files
data1 = pd.read_csv('DPQ_I.csv')
data2 = pd.read_csv('DEMO_I.csv')

# Explore the dataset
print(data1.info(), '\n')
print(data2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5735 entries, 0 to 5734
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SEQN    5735 non-null   float64
 1   DPQ010  5164 non-null   float64
 2   DPQ020  5164 non-null   float64
 3   DPQ030  5164 non-null   float64
 4   DPQ040  5162 non-null   float64
 5   DPQ050  5162 non-null   float64
 6   DPQ060  5162 non-null   float64
 7   DPQ070  5161 non-null   float64
 8   DPQ080  5161 non-null   float64
 9   DPQ090  5161 non-null   float64
 10  DPQ100  3579 non-null   float64
dtypes: float64(11)
memory usage: 493.0 KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9971 entries, 0 to 9970
Data columns (total 47 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      9971 non-null   float64
 1   SDDSRVYR  9971 non-null   float64
 2   RIDSTATR  9971 non-null   float64
 3   RIAGENDR  9971 non-null   float64
 4   RIDAGEYR  9971 non-null   float64
 5   RIDAGEMN  695 non-null    float64
 6   RIDRETH1  9971 non-null   float64
 7   RIDRETH3  9971 non-null   float64
 8   RIDEXMON  9544 non-null   float64
 9   RIDEXAGM  4060 non-null   float64
 10  DMQMILIZ  6149 non-null   float64
 11  DMQADFC   527 non-null    float64
 12  DMDBORN4  9971 non-null   float64
 13  DMDCITZN  9969 non-null   float64
 14  DMDYRSUS  2236 non-null   float64
 15  DMDEDUC3  2647 non-null   float64
 16  DMDEDUC2  5719 non-null   float64
 17  DMDMARTL  5719 non-null   float64
 18  RIDEXPRG  1288 non-null   float64
 19  SIALANG   9971 non-null   float64
 20  SIAPROXY  9970 non-null   float64
 21  SIAINTRP  9971 non-null   float64
 22  FIALANG   9642 non-null   float64
 23  FIAPROXY  9642 non-null   float64
 24  FIAINTRP  9642 non-null   float64
 25  MIALANG   6977 non-null   float64
 26  MIAPROXY  6978 non-null   float64
 27  MIAINTRP  6978 non-null   float64
 28  AIALANGA  5962 non-null   float64
 29  DMDHHSIZ  9971 non-null   float64
 30  DMDFMSIZ  9971 non-null   float64
 31  DMDHHSZA  9971 non-null   float64
 32  DMDHHSZB  9971 non-null   float64
 33  DMDHHSZE  9971 non-null   float64
 34  DMDHRGND  9971 non-null   float64
 35  DMDHRAGE  9971 non-null   float64
 36  DMDHRBR4  9575 non-null   float64
 37  DMDHREDU  9575 non-null   float64
 38  DMDHRMAR  9909 non-null   float64
 39  DMDHSEDU  5226 non-null   float64
 40  WTINT2YR  9971 non-null   float64
 41  WTMEC2YR  9971 non-null   float64
 42  SDMVPSU   9971 non-null   float64
 43  SDMVSTRA  9971 non-null   float64
 44  INDHHIN2  9626 non-null   float64
 45  INDFMIN2  9642 non-null   float64
 46  INDFMPIR  8919 non-null   float64
dtypes: float64(47)
memory usage: 3.6 MB
None

In [13]:
merged_data = pd.merge(data1, data2 , how='left', on='SEQN')
merged_data = merged_data.dropna(subset=['DPQ010','DPQ020','DPQ030','DPQ040','DPQ050','DPQ060','DPQ070','DPQ080','DPQ090','DPQ100'])
merged_data

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,83732.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,5.0,1.0,3.0,134671.370419,135629.507405,1.0,125.0,10.0,10.0,4.39
1,83733.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,3.0,3.0,NaN,24328.560239,25282.425927,1.0,125.0,4.0,4.0,1.32
2,83734.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,3.0,1.0,3.0,12400.008522,12575.838818,1.0,131.0,5.0,5.0,1.51
3,83735.0,1.0,1.0,2.0,2.0,1.0,3.0,2.0,0.0,1.0,...,5.0,6.0,NaN,102717.995647,102078.634508,1.0,131.0,10.0,10.0,5.00
4,83736.0,1.0,1.0,1.0,1.0,3.0,0.0,1.0,0.0,0.0,...,4.0,3.0,NaN,17627.674984,18234.736219,2.0,126.0,7.0,7.0,1.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5723,93679.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,2.0,2.0,NaN,21037.256891,20542.102254,2.0,132.0,9.0,9.0,2.98
5725,93684.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,5.0,1.0,4.0,29880.639492,31309.362247,2.0,131.0,14.0,14.0,2.81
5726,93685.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,2.0,22441.858682,22794.734098,1.0,126.0,3.0,3.0,0.49
5730,93695.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,2.0,NaN,58614.075016,66678.487176,2.0,130.0,4.0,4.0,1.43
5734,93702.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,5.0,5.0,NaN,107361.906644,105080.445194,2.0,119.0,10.0,7.0,3.54

In [14]:
merged_data.to_csv('mergeddata.csv')